<!DOCTYPE html>
<html>
<head>
    <title>文字列を送信する</title>
    <meta charset="UTF-8">
</head>
<body>
    <input type="text" id="input_name" placeholder="文字列を入力してください">
    <input type="text" id="input_message" placeholder="文字列を入力してください">
    <button id="send">送信</button>

    {{ range .}}
    <p>{{ .Name }}</p>
    <p>{{ .Message }}</p>
    <p>{{ .CreatedAt }}</p>{{ end }}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const now = new Date();
        const formattedDateTime = `${now.getFullYear()}-${('0' + (now.getMonth() + 1)).slice(-2)}-${('0' + now.getDate()).slice(-2)} ${('0' + now.getHours()).slice(-2)}:${('0' + now.getMinutes()).slice(-2)}:${('0' + now.getSeconds()).slice(-2)}`;
        const input_name = document.getElementById('input_name');
        const input_message = document.getElementById('input_message')
        const send = document.getElementById('send');

        send.onclick = function() {
            const data = { 
              name: input_name.value,
              message:  input_message.value,
              CreatedAt: formattedDateTime
            };
            axios.post('http://localhost:3000/chat', data)
                .then(function(response) {
                    console.log('送信成功', response);
                })
                .catch(function(error) {
                    console.error('送信失敗', error);
                });
        input_name.value = '';
        input_message.value = '';
        location.reload();
        };
    </script>
</body>
</html>